body{
    background-image: linear-gradient(to bottom, #f0ddee, #e0bcdd , #cf9bcc, #be7abb, #ac58aa); 
    width: auto;
    height: 600px;
}
.container {
    background-color:#ffe4e1;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    margin: 500px;
    text-align: center;
    padding: 60px;
    margin-top: 150px;
   
}

.botao  {
    height: 25px;
    width: 60px;
    padding: 5px;
    border-radius: 100px;
margin-top: 10px;
}

.h2{
    text-align: center;
    font: 500 60px 'Oswald',sans-serif ;
}

.entrada {
    font: 500 30px;
    box-shadow: #ffffff;
    box-shadow: 0px 0px 1px 1px #e7c2be;
}